<div class='row'>
  <div class= 'col-xs-6 col-xs-offset-3 form'>  
    <h1>New Quote</h1>

    <%= render 'form' %>
    <br />
    <div>
      <%= link_to 'Back', quotes_path, class: "btn-main btn-sm radius pad" %>
    </div>
  </div>
</div>  
