<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Chesnowitz Interactive ("CI") is a full stack, 
                    custom application development company. Our applications are
                    mobile and web ready. Here at CI we use the RAD application 
                    development model which means you get the best quality app within your budget. 
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Check out some apps</a>
            </div>
        </div>
    </div>
</section>

