<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ruby On Rails – A Beginners Guide</h2>
                <hr class="light">
                <p class="text-faded">My first Udemy course 
                “Ruby On Rails – A Beginners Guide” is designed to walk a new 
                developer through the process of getting a Rails application online.  
                In this course I cover fundamentals and give you the tools to start 
                developing your own Rails applications.  
                I know what it’s like to set out on a new path and I wanted to 
                truly help beginners and so I offer this course totally for free.
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Resources...</a>
            </div>
        </div>
    </div>
</section>

