<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Join the forum.</h2>
            <%= link_to "Register", new_user_registration_path, 
                class: "btn btn-default btn-xl wow tada" %>
        </div>
    </div>
</aside>

