<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">

					路
					<a class="page-scroll" href="#portfolio">Portfolio</a>
					路
					<a class="page-scroll" href="#services">Services</a>
					路
					<a class="page-scroll" href="#about">About</a>
					路
					<a class="page-scroll" href="#contact">Contact</a>
				</p>

		<p>  &copy; 2012 - <%= Time.now.strftime('%Y') %> <a href="http://chesnowitz.com/">Chesnowitz Interactive</a> </p>
	</div>

</footer>


                    
