<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">It's About Interaction</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Ruby on Rails</h3>
                    <p class="text-muted">Powerful web and mobile application development.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>It’s Better to Talk</h3>
                    <p class="text-muted">Personal, one on one instruction for those times when you are simply stuck.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>This Is Not a Test</h3>
                    <p class="text-muted">Learn your skill in a real development environment, 
                    pushing your applications out for the World to see.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Learn by Doing It!</h3>
                    <p class="text-muted">As you learn, you will be doing what real 
                    developers do every day.  </p>
                </div>
            </div>
        </div>
    </div>
</section>

