body {
  padding-top: 75px;
  padding-bottom: 95px;
  background-color: #e1f9fa;
background-image: asset-url('cubes.PNG');
} 

.foottext {
  color: white;
  padding-top: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #009999;
}

.navback {
  background-color: #ccffff;
background-image: asset-url('navbg.png');
}

.radius {
  border-radius: 15px;
}